@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body {
  margin: 0;
  font-family:'Roboto','Helvetica','Arial','sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root,
body > #root > div{
  height: 100%;
}